/* Importing Poppins from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* background-color: #EFFDF5; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
/********** Template CSS **********/
:root {
  --primary: #00b074;
  --secondary: #2b9bff;
  --light: #effdf5;
  --dark: #333;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/*** Button ***/
button,
select {
  text-transform: none;
}
.btn {
  display: inline-block;
  border-width: 1px;
  padding: 0.25rem 1.25rem;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.025em;
  -webkit-transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, -webkit-box-shadow,
    -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter,
    -webkit-backdrop-filter;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-themePrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(28 175 87 / var(--tw-bg-opacity));
}

.hover\:\!bg-themePrimary:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(28 175 87 / var(--tw-bg-opacity)) !important;
}
.hover\:bg-themePrimary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(28 175 87 / var(--tw-bg-opacity));
}

.\!text-themePrimary {
  --tw-text-opacity: 1 !important;
  color: rgb(28 175 87 / var(--tw-text-opacity)) !important;
}
.text-themePrimary {
  --tw-text-opacity: 1;
  color: rgb(28 175 87 / var(--tw-text-opacity));
}
.hover\:\!text-themePrimary:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(28 175 87 / var(--tw-text-opacity)) !important;
}
.hover\:text-themePrimary:hover {
  --tw-text-opacity: 1;
  color: rgb(28 175 87 / var(--tw-text-opacity));
}

.\!text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:\!text-white:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.font-medium {
  font-weight: 500;
}
.text-xs {
  font-size: 16px;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(242 245 248 / var(--tw-bg-opacity));
}
.\!bg-light {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(242 245 248 / var(--tw-bg-opacity)) !important;
}

.btn {
  @apply gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg;
}

.btn.btn-light {
  @apply bg-white text-gray-500;
}

.btn.btn-success {
  @apply text-white bg-green-600 shadow-green-400/10;
}

.group-hover\:\!bg-themePrimary:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(28 175 87 / var(--tw-bg-opacity)) !important;
}

.hover\:\!text-white:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.button-default {
  @apply duration-300 ease-in-out bg-white text-white bg-themePrimary p-6 !important;
  &:hover {
    @apply bg-black text-white !important;
  }
}

.input-css {
  @apply p-3 border leading-4 h-full !important;
}

.chakra-modal__header {
    @apply border-b border-slate-200 flex;
    .chakra-modal__close-btn {
        top: auto;
        right: 20px;
    }
}

.ghost-button-with-icon {
  @apply flex items-center gap-3.5 p-6 text-sm font-medium duration-300 ease-in-out lg:text-base justify-normal !important;
}

